﻿.user_form_container {
    min-height: 450px;
    height: auto;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #4189C7;
    margin: 6px;
}

.date_picker {
    height:auto;
    
}

    .date_picker input, .date_picker select {
        height: 40px;
        border: 1px white double;
        border-radius: 4px;
        margin: auto;
        margin-bottom: 10px;
        padding-left: 5px;
        width: 90%;
    }

.date_picker_guide {
    color: white;
}

.date_picker_error {
    margin-bottom: 10px;
    color: white;
}